<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxg.weChat.crm.mapper.PlanActivityMapper">

    <select id="getDetailIdList" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct t.detail_id detailId
        from market.market_tb_plan_actual_sales t
        where t.detail_id &gt; #{detailId} and t.cust_id is not null
        order by t.detail_id
    </select>

    <update id="updateImptentByUpdate" parameterType="com.cxg.weChat.crm.pojo.TestDo2">
        UPDATE market.market_tb_plan_implement t SET t.actual_sales=#{actualSales} where t.item_id=#{itemId}
    </update>

    <select id="getItemIdList" parameterType="java.lang.String"
            resultType="com.cxg.weChat.crm.pojo.TestDo">
        select hl.item_id itemId,
               hl.mia_detail_id miaDetailId,
               hl.cust_id custId,
               tt.actual_sales actualSales
          from (select l.mia_detail_id mia_detail_id,
                       l.item_id item_id,
                       max(decode(l.attr_name, '门店ID', l.attr_value, '')) cust_id,
                       max(decode(l.attr_name, '门店名称', l.attr_value, '')) cust_name,
                       max(decode(l.attr_name,
                                  '费用支付金额',
                                  l.attr_value,
                                  'SKU单价',
                                  l.attr_value,
                                  0)) pay_money,
                       max(decode(l.attr_name, '我司承担比例（%）', l.attr_value, 0)) s_ratio,
                       max(decode(l.attr_name, '开始时间(yyyy/m/d)', l.attr_value, 0)) planStartDate,
                       max(decode(l.attr_name, '结束时间(yyyy/m/d)', l.attr_value, 0)) planEndDate,
                       max(decode(l.attr_name, '促销品项', l.attr_value, 0)) promotionalItems,
                       max(decode(l.attr_name, '促销形式', l.attr_value, 0)) salesPromotion,
                       max(decode(l.attr_name,
                                  '促销期间目标销量（标箱）',
                                  l.attr_value,
                                  0)) plan_sale
                  from market.market_tb_plan_item_list l
                 group by l.item_id, l.mia_detail_id) hl
        left join market.market_tb_plan_actual_sales tt on tt.detail_id =
                                                             hl.mia_detail_id
                                                         and tt.cust_id =
                                                             hl.cust_id
        where tt.detail_id = #{detailId}
        order by hl.item_id desc
    </select>

    <select id="getPlanPhotoList" resultType="com.cxg.weChat.crm.pojo.WxPlanPhotoDo">
        select *
        from (select row_.*, rownum rownum_
        from (select p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        tt.open_id openId,
        tt.nick_name nickName,
        tt.avatar_url avatarUrl,
        pp.photo_url photoUrl,
        pp.creart_date creartDate
        from market.markrt_wx_plan_photo pp
        left join (select distinct (t.activity_id) activity_id,
        t.open_id,
        t.nick_name,
        t.avatar_url
        from market.market_wx_admin_info t) tt on tt.open_id =
        pp.openid
        and tt.activity_id =
        pp.activity_id
        left join market.market_tb_plan_activity p on tt.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="planEndDate == null and planEndDate == ''">and t.status in ('N','Y')</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by pp.creart_date desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanPhotoData" resultType="java.lang.Integer">
        select COUNT (*)
        from market.markrt_wx_plan_photo pp
        left join (select distinct (t.activity_id) activity_id,
        t.open_id,
        t.nick_name,
        t.avatar_url
        from market.market_wx_admin_info t) tt on tt.open_id =
        pp.openid
        and tt.activity_id =
        pp.activity_id
        left join market.market_tb_plan_activity p on tt.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
        </where>
    </select>

    <select id="getPlanDoAdminList" resultType="com.cxg.weChat.crm.pojo.WxAdminInfoDo">
        select *
        from (select row_.*, rownum rownum_
        from (select p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        t.open_id openId,
        t.nick_name nickName,
        t.avatar_url avatarUrl,
        t.sign_address signAddress,
        t.sign_date signDate
        from market.market_wx_admin_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="planEndDate == null and planEndDate == ''">and t.status in ('N','Y')</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanAdminData" resultType="java.lang.Integer">
        select COUNT (*)
        from market.market_wx_admin_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
        </where>
    </select>

    <!-- 注意oracle和mysql的分页是不一样的 -->
    <select id="getPlanList" resultType="com.cxg.weChat.crm.pojo.PlanActivityDo">
        select *
        from (select row_.*, rownum rownum_
        from (select p.id,
        p.plan_id planId,
        p.plan_title planTitle,
        p.plan_address planAddress,
        p.plan_start_date planStartDate,
        p.plan_end_date planEndDate,
        t.open_id openId,
        t.nick_name nickName,
        t.avatar_url avatarUrl,
        case (t.status)
        when 'N' then
        '未参加'
        when 'Y' then
        '已参加'
        end status
        from market.market_wx_user_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="status == null and status == ''">and t.status in ('N','Y')</if>
            <if test="status == '已参加'">and t.status = 'Y'</if>
            <if test="status == '未参加'">and t.status = 'N'</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
        ) row_
        where rownum &lt;= ${limit})
        where rownum_ &gt; ${offset}
    </select>

    <select id="countPlanData" resultType="java.lang.Integer">
        select COUNT (*)
        from market.market_wx_user_info t
        left join market.market_tb_plan_activity p on t.activity_id = p.id
        <where>
            <if test="planId != null and planId != ''">and p.plan_id = #{planId}</if>
            <if test="id != null and id != ''">and p.id = #{id}</if>
            <if test="planTitle != null and planTitle != ''">and p.plan_title LIKE '%${planTitle}%'</if>
            <if test="planAddress != null and planAddress != ''">and p.plan_address LIKE '%${planAddress}%'</if>
            <if test="planStartDate != null and planStartDate != ''">and p.plan_start_date = #{planStartDate}</if>
            <if test="planEndDate != null and planEndDate != ''">and p.plan_end_date = #{planEndDate}</if>
            <if test="status == null and status == ''">and t.status in ('N','Y')</if>
            <if test="status == '已参加'">and t.status = 'Y'</if>
            <if test="status == '未参加'">and t.status = 'N'</if>
        </where>
    </select>

</mapper>